designs/pages/Layouts/register.json
[
    {
        "id": "sd_ps6SvG6XTw5SLCjc",
        "type": "tab",
        "createdDate": "2024-02-26T08:53:20.046Z",
        "label": "register",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_uGRM2deh8cTkudVD",
        "type": "OnInit",
        "z": "sd_ps6SvG6XTw5SLCjc",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_uGRM2deh8cTkudVD",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_Mie1i3Ftpvs9CGrs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_Mie1i3Ftpvs9CGrs",
        "type": "PageVariables",
        "z": "sd_ps6SvG6XTw5SLCjc",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "form",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "formGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "formControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_Mie1i3Ftpvs9CGrs",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_zlxIaAUzWmrAAumv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_zlxIaAUzWmrAAumv",
        "type": "UseDependency",
        "z": "sd_ps6SvG6XTw5SLCjc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validators"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_zlxIaAUzWmrAAumv",
        "category": "Function",
        "x": 280,
        "y": 40,
        "wires": [
            [
                "sd_TQ6Fo4smMMXCLetH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_TQ6Fo4smMMXCLetH",
        "type": "Script",
        "z": "sd_ps6SvG6XTw5SLCjc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.form=new page.formGroup({\n    name : new page.formControl('',[page.validators.required]),\n    email: new page.formControl('',[page.validators.required,page.validators.email]),\n    phone: new page.formControl('',[page.validators.required,page.validators.pattern('^((\\\\+91-?)|0)?[0-9]{10}$')]),\n})",
        "functionName": "sd_TQ6Fo4smMMXCLetH",
        "category": "Function",
        "x": 380,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_fQkl5z0H7jLCka3q",
        "type": "PageStart",
        "z": "sd_ps6SvG6XTw5SLCjc",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submitForm",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitForm",
        "category": "General",
        "x": 60,
        "y": 260,
        "wires": [
            [
                "sd_skLuZTzTUAfqOaX7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_skLuZTzTUAfqOaX7",
        "type": "Script",
        "z": "sd_ps6SvG6XTw5SLCjc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "submitFormScript",
        "script": "if(!page.form.valid){\n    return\n}\nbh.local.userData={\n    ...page.form.value\n}",
        "functionName": "submitFormScript",
        "category": "Function",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "sd_bK2h98j4wk0zoMiX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_bK2h98j4wk0zoMiX",
        "type": "PageCallService",
        "z": "sd_ps6SvG6XTw5SLCjc",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "submitFormCallService",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_1G57ImUFAs3KlsO8",
            "type": "tab",
            "createdDate": "2024-02-27T06:33:05.025Z",
            "label": "registerUser",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_aB6sQo8JpjBUqaLz",
            "flowName": "sd_aB6sQo8JpjBUqaLz"
        },
        "inputVariables": [
            {
                "key": "userData",
                "map": true,
                "valueType": "bh.local",
                "value": "userData"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh.local",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.local.result"
            }
        ],
        "serviceImportPath": "app/sd-services/registerUser",
        "startName": "sd_aB6sQo8JpjBUqaLz",
        "inputParams": [
            "bh.local.userData"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "submitFormCallService",
        "category": "General",
        "x": 320,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_PGsIIoVdHvWDDTxP",
        "type": "Catch",
        "z": "sd_ps6SvG6XTw5SLCjc",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_fQkl5z0H7jLCka3q",
            "sd_skLuZTzTUAfqOaX7",
            "sd_bK2h98j4wk0zoMiX"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_PGsIIoVdHvWDDTxP",
        "category": "General",
        "x": 85,
        "y": 380,
        "wires": [
            [
                "sd_QaJCSlsMu0eEoWGE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_QaJCSlsMu0eEoWGE",
        "type": "Script",
        "z": "sd_ps6SvG6XTw5SLCjc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response= bh.error.message || \"something went wrong\"\nconsole.log(bh.error)",
        "functionName": "sd_QaJCSlsMu0eEoWGE",
        "category": "Function",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "sd_306i92GFG68UKLGb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_306i92GFG68UKLGb",
        "type": "SnackBar",
        "z": "sd_ps6SvG6XTw5SLCjc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh.local",
            "value": "response"
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "start",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_306i92GFG68UKLGb",
        "category": "General",
        "x": 325,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    }
]
