designs/pages/Layouts/scannerModal.json
[
    {
        "id": "sd_QTiQKf14Iy64Pg7d",
        "type": "tab",
        "createdDate": "2024-02-26T08:53:55.096Z",
        "label": "scannerModal",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "scannerModalComponent"
    },
    {
        "id": "sd_8CTFvDSKeXLvkJFH",
        "type": "OnInit",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [
            {
                "key": "camera",
                "defaultValue": {
                    "type": "str",
                    "value": "scan"
                }
            },
            {
                "key": "file",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            },
            {
                "key": "id",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            },
            {
                "key": "perm",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            },
            {
                "key": "user",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_8CTFvDSKeXLvkJFH",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 40,
        "wires": [
            [
                "sd_Zv5F8bG6jrhXYf8S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "scannerModalComponent",
        "generated": false
    },
    {
        "id": "sd_Zv5F8bG6jrhXYf8S",
        "type": "PageVariables",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_Zv5F8bG6jrhXYf8S",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_3VYzkD80ik9o4YxI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_QXeOKACo3TRmbzG4",
        "type": "PageStart",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onEvent",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "e",
                "defaultValue": {
                    "type": "any",
                    "value": "[]"
                },
                "output": false
            },
            {
                "key": "action",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onEvent",
        "category": "General",
        "x": 65,
        "y": 160,
        "wires": [
            [
                "sd_HPc6tgqNsYX3zg1M"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "scannerModalComponent",
        "generated": false
    },
    {
        "id": "sd_HPc6tgqNsYX3zg1M",
        "type": "Script",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\npage.item = bh.input.e[0]\nconsole.log(bh.input.e[0])\nbh.local.fn = 'pause'\n\n",
        "functionName": "sd_HPc6tgqNsYX3zg1M",
        "category": "Function",
        "x": 205,
        "y": 160,
        "wires": [
            [
                "sd_ncUWDh9XxQXppBTe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_tOYsG9QDP6oHFVJo",
        "type": "PageStart",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "pages",
        "nodeType": "start",
        "name": "handle",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "action",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "fn",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "handle",
        "category": "General",
        "x": 65,
        "y": 280,
        "wires": [
            [
                "sd_Uvw2dlCcz6FxBJLU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "scannerModalComponent",
        "generated": false
    },
    {
        "id": "sd_Uvw2dlCcz6FxBJLU",
        "type": "Script",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const playDeviceFacingBack = (devices: any[]) => {\n      // front camera or back camera check here!\n      const device = devices.find(f => (/back|rear|environment/gi.test(f.label))); // Default Back Facing Camera\n      bh.input?.action.playDevice(device ? device.deviceId : devices[0].deviceId);\n    }\n\n    if (bh.input?.fn === 'start') {\n      bh.input?.action[bh.input?.fn](playDeviceFacingBack).subscribe((r: any) => console.log(bh.input?.fn, r), alert);\n    }else if(bh.input?.fn === 'download'){\n      bh.input?.action.download().subscribe((r)=>\n      {\n        console.log(r)\n        page.file = r[0].file\n      }, \n      alert);\n      }else{\n      bh.input?.action[bh.input?.fn]().subscribe((r: any) => console.log(bh.input?.fn, r), alert);\n    }",
        "functionName": "sd_Uvw2dlCcz6FxBJLU",
        "category": "Function",
        "x": 200,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_3Tah55HjWfk8Rt4f",
        "type": "PageStart",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onDownload",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "action",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onDownload",
        "category": "General",
        "x": 65,
        "y": 380,
        "wires": [
            [
                "sd_iyEtlqBjMMbwjLrt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "scannerModalComponent",
        "generated": false
    },
    {
        "id": "sd_iyEtlqBjMMbwjLrt",
        "type": "Script",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input?.action.download().subscribe(console.log, alert);",
        "functionName": "sd_iyEtlqBjMMbwjLrt",
        "category": "Function",
        "x": 240,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_ncUWDh9XxQXppBTe",
        "type": "PageCallService",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QTiQKf14Iy64Pg7d",
            "type": "tab",
            "createdDate": "2024-02-26T08:53:55.096Z",
            "label": "scannerModal",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_tOYsG9QDP6oHFVJo",
            "flowName": "handle"
        },
        "inputVariables": [
            {
                "key": "action",
                "map": true,
                "valueType": "bh.input",
                "value": "action"
            },
            {
                "key": "fn",
                "map": true,
                "valueType": "bh.local",
                "value": "fn"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "handle",
        "inputParams": [
            "bh.input.action",
            "bh.local.fn"
        ],
        "accept_csd": false,
        "functionName": "sd_ncUWDh9XxQXppBTe",
        "category": "General",
        "x": 325,
        "y": 160,
        "wires": [
            [
                "sd_8MTU3V7SsSpq6n6M"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generated": true,
        "generateNext": false,
        "serviceName": "scannerModalComponent"
    },
    {
        "id": "sd_3VYzkD80ik9o4YxI",
        "type": "UseDependency",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "ScannerQRCodeConfig",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ScannerQRCodeResult",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "NgxScannerQrcodeService",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "scanners"
                },
                "injectable": true
            },
            {
                "textIp": "NgxScannerQrcodeComponent",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ScannerQRCodeSelectedFiles",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "ngx-scanner-qrcode",
        "serviceDesignerType": "pages",
        "functionName": "sd_3VYzkD80ik9o4YxI",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_8r16pPvVFalEoQM1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_sthu8krDDThFqLJo",
        "type": "Script",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n\n\nlet config : ScannerQRCodeConfig = {\n    constraints: {\n      video: {\n        aspectRatio:1,\n        \n      },\n    },\n     canvasStyles: [\n      { /* layer */\n        lineWidth: 1,\n        fillStyle: '#00950685',\n        strokeStyle: '#00950685',\n      },\n      { /* text */\n        font: '17px serif',\n        fillStyle: '#ff0000',\n        strokeStyle: '#ff0000',\n      }\n    ],\n}\npage.config=config\nlet qrCodeResult: ScannerQRCodeSelectedFiles[] = [];\nlet qrCodeResult2: ScannerQRCodeSelectedFiles[] = [];\npage.qrCodeResult = qrCodeResult\npage.qrCodeResult2 = qrCodeResult2\n\npage.percentage = 80;\npage.quality = 100;\n\nnavigator.mediaDevices.getUserMedia({ video: true })\n      .then((stream) => {\n        page.perm = true\n        this.handle(this.action,'start')\n      })\n      .catch((err) => {\n        page.perm = false\n        console.error('Error accessing camera:');\n      });\n",
        "functionName": "sd_sthu8krDDThFqLJo",
        "category": "Function",
        "x": 545,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_8r16pPvVFalEoQM1",
        "type": "ViewPicker",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "str",
                    "value": "action"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_8r16pPvVFalEoQM1",
        "category": "Function",
        "x": 405,
        "y": 40,
        "wires": [
            [
                "sd_sthu8krDDThFqLJo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_8MTU3V7SsSpq6n6M",
        "type": "Script",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.query = {\n    id:page.item.value\n}\n\n",
        "functionName": "sd_8MTU3V7SsSpq6n6M",
        "category": "Function",
        "x": 445,
        "y": 160,
        "wires": [
            [
                "sd_fIxMWWuf2OF1GRoN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_fIxMWWuf2OF1GRoN",
        "type": "PageCallService",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_WGiiJbDpRs20urpL",
            "type": "tab",
            "createdDate": "2024-02-27T03:53:05.214Z",
            "label": "scannerService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_dLZfhFZ0rDgUlEDu",
            "flowName": "getUser"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/scannerService",
        "startName": "getUser",
        "inputParams": [
            "bh"
        ],
        "accept_bh": true,
        "accept_csd": true,
        "functionName": "sd_fIxMWWuf2OF1GRoN",
        "category": "General",
        "x": 605,
        "y": 160,
        "wires": [
            [
                "sd_qVToKa6YbloN0msp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_qVToKa6YbloN0msp",
        "type": "Script",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nif(bh.input?.result?.length!=0){\n    page.user = bh.input.result[0]\n    if(!page.user.status){\n        page.id=page.user.id\n    }\n}",
        "functionName": "sd_qVToKa6YbloN0msp",
        "category": "Function",
        "x": 720,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_XOOa3vhOfRMMfXzp",
        "type": "PageStart",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "sd_QoBQniQpm4NiyxYp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "scannerModalComponent",
        "generated": false
    },
    {
        "id": "sd_QoBQniQpm4NiyxYp",
        "type": "Script",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const formData = new FormData();\nformData.append('id',page.id)\nformData.append('file', page.file);\nbh.local.body = formData\nconsole.log(\"fotm herer\")",
        "functionName": "sd_QoBQniQpm4NiyxYp",
        "category": "Function",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "sd_7YCuW9sqimStzSkc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_7YCuW9sqimStzSkc",
        "type": "PageCallService",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_WGiiJbDpRs20urpL",
            "type": "tab",
            "createdDate": "2024-02-27T03:53:05.214Z",
            "label": "scannerService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_hzo02in3T1RXueb2",
            "flowName": "updateUser"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/scannerService",
        "startName": "updateUser",
        "inputParams": [
            "bh"
        ],
        "accept_bh": true,
        "accept_csd": true,
        "functionName": "sd_7YCuW9sqimStzSkc",
        "category": "General",
        "x": 400,
        "y": 480,
        "wires": [
            [
                "sd_lbHk9L4McTE6gZx2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_lbHk9L4McTE6gZx2",
        "type": "Script",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.input.result){\n    page.id=null\n    page.user =null\n    page.file = null\n}",
        "functionName": "sd_lbHk9L4McTE6gZx2",
        "category": "Function",
        "x": 540,
        "y": 480,
        "wires": [
            [
                "sd_n8jNQtw4j4BhVdx2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_srHJemkFURbdu785",
        "type": "PageStart",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "pages",
        "nodeType": "start",
        "name": "toggle",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "toggle",
        "category": "General",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "sd_NwFHF3yniqMFaCUa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "scannerModalComponent",
        "generated": false
    },
    {
        "id": "sd_NwFHF3yniqMFaCUa",
        "type": "Script",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.fn = 'play'\nthis.handle(this.action, bh.local.fn)",
        "functionName": "sd_NwFHF3yniqMFaCUa",
        "category": "Function",
        "x": 500,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_n8jNQtw4j4BhVdx2",
        "type": "PageSwitch",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.result",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.result.result",
        "rules": [
            {
                "t": "eq",
                "v": "updated successfully",
                "vt": "str",
                "gv": "\"updated successfully\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_n8jNQtw4j4BhVdx2",
        "category": "Function",
        "x": 640,
        "y": 480,
        "wires": [
            [
                "sd_Nqy5tHYuYWleqIvK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_Nqy5tHYuYWleqIvK",
        "type": "SnackBar",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The goodies has been given!"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_Nqy5tHYuYWleqIvK",
        "category": "General",
        "x": 765,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_3stYOnao4f1XEaWr",
        "type": "Navigation",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_3stYOnao4f1XEaWr",
        "category": "Navigation",
        "x": 405,
        "y": 600,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scannerModalComponent",
        "generated": true
    },
    {
        "id": "sd_7AEJj2XG4VkvsY2a",
        "type": "PageStart",
        "z": "sd_QTiQKf14Iy64Pg7d",
        "viewType": "pages",
        "nodeType": "start",
        "name": "navigateHome",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "navigateHome",
        "category": "General",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "sd_3stYOnao4f1XEaWr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "scannerModalComponent",
        "generated": false
    }
]
